body {
  background-color: black;
}

.stage{
  width:1920px;
  height:1080px;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:hidden;
  z-index:0;
}

.holder{
  width:1920px;
  height:1080px;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

#background{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/dt100%20copy%404x.png?v=1738851294903') no-repeat;
	background-position: center;
	background-size: cover;
  opacity:1;
}

/* C-Hold */

#c-hold{
  opacity:1;
  
  width:59.2%;
  height:88%;
  left:39.5%;
  top:0%;
}

.type{
  width:100%;
  height:100%;
  top:0%;
  left:0%;
}

#type-1 .category{
  width:100%;
  height:25%;
  left:0%;
  top:24%;
}

#type-1 .category-p{
  width:90%;
  height:35%;
  top:25%;
  left:5%;
  font-family:'Chevin';
  font-size:64px;
  color:white;
  text-align:center;
}

#type-1 .easy-hard{
  width:50.5%;
  height:37.5%;
  top:47%;
}

#type-1 #easy{
  left:-0.25%;
}

#type-1 #hard{
  left:49.75%;
}

#type-1 .easy-hard-p{
  width:80%;
  height:30%;
  top:32.5%;
  left:10%;
  font-family:'Chevin';
  font-size:76px;
  color:white;
  text-align:center;
}

#type-2 .image{
  width:81.25%;
  left:9.5%;
  height:55%;
  top:7.25%;
  
  background-image: none;
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#type-2 .category{
  width:84%;
  left:8%;
  height:17%;
  top:60%;
}

#type-2 .category-p{
  width:76%;
  height:25%;
  top:16%;
  left:12%;
  font-family:'Chevin';
  font-size:56px;
  color:white;
  text-align:center;
}

#type-2 .easy-hard{
  width:42.75%;
  height:17%;
  top:74.25%;
}

#type-2 #easy{
  left:7.75%;
}

#type-2 #hard{
  left:49.5%;
}

#type-2 .easy-hard-p{
  width:80%;
  height:30%;
  top:20%;
  left:10%;
  font-family:'Chevin';
  font-size:52px;
  color:white;
  text-align:center;
}

#type-3 .category{
  width:100%;
  height:30%;
  left:0%;
}

#type-3 .category-p{
  width:90%;
  height:35%;
  top:27.5%;
  left:5%;
  font-family:'Chevin';
  font-size:68px;
  color:white;
  text-align:center;
}

#type-3 #category-a{
  top:23.7%;
}

#type-3 #category-b{
  top:53.6%;
}

#type-4 .image{
  width:81.25%;
  left:9.5%;
  height:55%;
  top:7.25%;
  
  background-image: none;
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#type-4 .category{
  width:84%;
  left:8%;
  height:17%;
  top:60%;
}

#type-4 .category-p{
  width:76%;
  height:25%;
  top:16%;
  left:12%;
  font-family:'Chevin';
  font-size:56px;
  color:white;
  text-align:center;
}

#type-4 #category-a{
  top:61%;
}

#type-4 #category-b{
  top:75%;
}

#type-5 .category{
  width:48%;
  height:61%;
  top:23.5%;
}

#type-5 #category-a{
  left:1%;
}

#type-5 #category-b{
  right:1%;
}

#type-5 .category-image{
  top:0%;
  left:0%;
  width:100%;
  height:92%;
  
  background-image: none;
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  
  border-radius:5%;
  
  box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, 0.75);
}

#type-5 .category-letter{
  bottom:0%;
  width:13.5%;
  left:43.25%;
  height:13.5%;
}

#type-5 .category-letter-p {
  width:98%;
  height:98%;
  top:1%;
  left:1%;
  font-family:'Chevin';
  font-size:56px;
  color:white;
  text-align:center;
}

#type-6 .category{
  width:48%;
  height:61%;
  top:23.5%;
}

#type-6 #category-a{
  left:1%;
}

#type-6 #category-b{
  right:1%;
}

#type-6 .category-image{
  top:0%;
  left:0%;
  width:100%;
  height:92%;
  
  background-image: none;
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  
  border-radius:5%;
  
  box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, 0.75);
}

#type-6 .category-text{
  bottom:0%;
  width:94%;
  left:3%;
  height:13.5%;
}

#type-6 .category-text-p {
  width:98%;
  height:98%;
  top:1%;
  left:1%;
  font-family:'Chevin';
  font-size:56px;
  color:white;
  text-align:center;
}

/* I - Hold */
#i-hold{
  opacity:1;
}

.q-image{
  left:14%;
  top:0%;
  width:72%;
  height:70%;
  
  background-image: none;
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}