body {
  background-color: black;
}

.stage{
  width:1920px;
  height:1080px;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:hidden;
  z-index:0;
}

.holder{
  width:1920px;
  height:1080px;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

#background{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/Postcode%20Loterij%20E%C3%A9n%20Tegen%20100%20(05.05.2024)%2014-28%20screenshot.png?v=1738769694421') no-repeat;
	background-position: center;
	background-size: cover;
  opacity:0;
}

/* Q-Hold */

#q-hold{
  opacity:0;
}

.q-con {
  width:84%;
  height:16%;
  left:8%;
  top:66%;
  overflow:hidden;
}

.q-remain {
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20ti%E1%BB%81n%20v%C3%A0%20s%E1%BB%91%20ng%C6%B0%E1%BB%9Di%20c%C3%B9ng%20ch%C6%A1i.png?v=1738762401298') no-repeat;
	background-position: center;
	background-size: cover;
  width:15%;
  height:30%;
  top:0%;
  left:9.3%;
}

.q-remain-p{
  width:100%;
  height:75%;
  left:0%;
  top:25%;
  text-align:center;
  font-family:'Chevin';
  font-size:36px;
  color:#CD8DD3;
}

.q-money {
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20ti%E1%BB%81n%20v%C3%A0%20s%E1%BB%91%20ng%C6%B0%E1%BB%9Di%20c%C3%B9ng%20ch%C6%A1i.png?v=1738762401298') no-repeat;
	background-position: center;
	background-size: cover;
  width:15%;
  height:30%;
  top:0%;
  left:9.3%;
}

.q-money-p{
  width:100%;
  height:90%;
  left:0%;
  top:10%;
  text-align:center;
  font-family:'Chevin';
  font-size:40px;
  color:#CD8DD3;
}

.q-escape {
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20gi%E1%BA%A3i%20tho%C3%A1t.png?v=1738762402938') no-repeat;
  background-position: center;
	background-size: cover;
  width:21.6%;
  height:30%;
  top:0%;
  left:72.4%;
}

.q-escape-p {
  width:30%;
  height:60%;
  top:20%;
  text-align:center;
  font-family:'Chevin';
  font-size:36px;
  color:#CD8DD3;  
}

#q-escape-p-25 {
  left: 5%;
}

#q-escape-p-50 {
  left: 35%;
}

#q-escape-p-75 {
  left: 65%;
}

.question{
  width:100%;
  height:70%;
  left:0%;
  top:30%;
  overflow:hidden;
}

.question-p{
  width:94%;
  height:78%;
  left:3%;
  top:3%;
	text-align:center;
	vertical-align:middle;
  font-family:'Chevin';
  font-size:36px;
  color:white;
}

.answer{
  width:27.98%;
  height:14%;
  top:80%;
}

.ans-letter{
	background-size: cover;
  width:12.5%;
  height:25%;
  left:43%;
  top:0%;
}

.ans-letter-p{
  width:100%;
  height:90%;
  left:0%;
  top:10%;
  text-align:center;
  font-family:'Chevin';
  font-size:36px;
  color:#CD8DD3;
}

.ans-text{
	background-size: cover;
  width:100%;
  height:75%;
  left:0%;
  top:25%;
}

.ans-text-p{
  width:96%;
  height:100%;
  left:2%;
  top:0%;
	text-align:center;
	vertical-align:middle;
  font-family:'Chevin';
  font-size:36px;
  color:white;
}

#answer-a{
  left:8%;
}

#answer-b{
  left:36.01%;
}

#answer-c{
  left:64.02%;
}

.ans-letter-lock, .ans-letter-correct, .ans-letter-wrong {
  opacity:0;
}

.ans-text-lock, .ans-text-correct, .ans-text-wrong {
  opacity:0;
}

/* E-Hold */

#e-hold{
  opacity:1;
}

.eliminate-money{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20ti%E1%BB%81n%20th%C6%B0%E1%BB%9Fng.png?v=1738762395889') no-repeat;
	background-position: center;
	background-size: cover;
  width:28%;
  height:7.5%;
  left:36%;
  top:86.5%;
}

.eliminate-money-p{
  width:96%;
  height:86%;
  left:2%;
  top:12%;
  text-align:center;
  font-family:'Chevin';
  font-size:64px;
  color:white;
}

.total-money{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20ti%E1%BB%81n%20th%C6%B0%E1%BB%9Fng.png?v=1738762395889') no-repeat;
	background-position: center;
	background-size: cover;
  width:28%;
  height:7.5%;
  left:36%;
  top:86.5%;
}

.total-money-p{
  width:96%;
  height:86%;
  left:2%;
  top:12%;
  text-align:center;
  font-family:'Chevin';
  font-size:64px;
  color:white;
}


