  left:698.8body {
  background-color: black;
}

.stage{
  width:1920px;
  height:1080px;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:hidden;
  z-index:0;
}

.holder{
  width:1920px;
  height:1080px;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

#background{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/Postcode%20Loterij%20E%C3%A9n%20Tegen%20100%20(05.05.2024)%2014-28%20screenshot.png?v=1738766132362') no-repeat;
	background-position: center;
	background-size: cover;
}

/* Q - Hold */

.q-remain {
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20ti%E1%BB%81n%20v%C3%A0%20s%E1%BB%91%20ng%C6%B0%E1%BB%9Di%20c%C3%B9ng%20ch%C6%A1i.png?v=1738762401298') no-repeat;
	background-position: center;
	background-size: cover;
  width:12.5%;
  height:4.5%;
  top:65.5%;
  left:15.8%;
}

.q-remain-p{
  width:100%;
  height:75%;
  left:0%;
  top:25%;
  text-align:center;
  font-family:'Chevin';
  font-size:36px;
  color:#CD8DD3;
}

.q-money {
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20ti%E1%BB%81n%20v%C3%A0%20s%E1%BB%91%20ng%C6%B0%E1%BB%9Di%20c%C3%B9ng%20ch%C6%A1i.png?v=1738762401298') no-repeat;
	background-position: center;
	background-size: cover;
  width:12.5%;
  height:4.5%;
  top:65.5%;
  left:15.8%;
}

.q-money-p{
  width:100%;
  height:90%;
  left:0%;
  top:10%;
  text-align:center;
  font-family:'Chevin';
  font-size:40px;
  colo

.q-escape {
  background-color:red;
  width:26.5%;
  height:4.5%;
  top:333%;
  left:68.8%;
}%;
  left:69%;
}

.question{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/thanh%20c%C3%A2u%20h%E1%BB%8Fi%20dt100.png?v=1738762405696') no-repeat;
	background-position: center;
	background-size: cover;
  width:84%;
  height:12%;
  left:8%;
  top:70%;
}

.question-p{
  width:94%;
  height:78%;
  left:3%;
  top:3%;
	text-align:center;
	vertical-align:middle;
  font-family:'Chevin';
  font-size:36px;
  color:white;
}

.answer{
  width:27.98%;
  height:14%;
  top:80%;
}

.ans-letter{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/ph%C6%B0%C6%A1ng%20%C3%A1n.png?v=1738762364707') no-repeat;
	background-position: center;
	background-size: cover;
  width:12.5%;
  height:25%;
  left:43%;
  top:0%;
}

.ans-letter-p{
  width:100%;
  height:90%;
  left:0%;
  top:10%;
  text-align:center;
  font-family:'Chevin';
  font-size:36px;
  color:#CD8DD3;
}

.ans-text{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/%C4%91%C3%A1p%20%C3%A1n.png?v=1738762380503') no-repeat;
	background-position: center;
	background-size: cover;
  width:100%;
  height:75%;
  left:0%;
  top:25%;
}

.ans-text-p{
  width:96%;
  height:100%;
  left:2%;
  top:0%;
	text-align:center;
	vertical-align:middle;
  font-family:'Chevin';
  font-size:36px;
  color:white;
}

#answer-a{
  left:8%;
}

#answer-b{
  left:36.01%;
}

#answer-c{
.02%;
}