body {
  background-color: black;
}

.stage{
  width:1920px;
  height:1080px;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  overflow:hidden;
  z-index:0;
}

.holder{
  width:1920px;
  height:1080px;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}

#background{
  background: url('https://cdn.glitch.global/eb98023a-5c09-46b5-a350-c2ece068cb4e/Postcode%20Loterij%20E%C3%A9n%20Tegen%20100%20(05.05.2024)%206-47%20screenshot.png?v=1738762653465') no-repeat;
	background-position: center;
	background-size: cover;
}

.question{
  width:84%;
  height:12%;
  background-color:yellow;
  opacity:0.25;
  left:8%;
  top:70%;
}

.answer{
  width:84%;
  height:14%;
  left:8%;
  top:80%;
}